<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="<%= editMode? `${path}/${oldInput?._id ?? product?._id}?edit=true` : path %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input class="<%= validationErrors.find((e)=> e.path === 'title')? 'invalid' : '' %>" type="text" name="title" id="title" value="<%=oldInput?.title ?? product?.title%>">
                <% if (validationErrors.find((e)=> e.path === 'title')) { %>
                    <p class="form-message--error"><%= validationErrors.find((e)=> e.path === 'title').msg %></p>
                <% } %>
            </div>
            <div class="form-control">
                <label for="image">Image</label>
                <input class="<%= validationErrors.find((e)=> e.path === 'image')? 'invalid' : '' %>" type="file" name="image" id="image" value="<%=oldInput?.imageUrl ?? product?.imageUrl%>">
                <% if (validationErrors.find((e)=> e.path === 'image')) { %>
                    <p class="form-message--error"><%= validationErrors.find((e)=> e.path === 'image').msg %></p>
                <% } %>
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input class="<%= validationErrors.find((e)=> e.path === 'price')? 'invalid' : '' %>" type="number" name="price" id="price" step="0.01" value="<%=oldInput?.price ?? product?.price%>">
                <% if (validationErrors.find((e)=> e.path === 'price')) { %>
                    <p class="form-message--error"><%= validationErrors.find((e)=> e.path === 'price').msg %></p>
                <% } %>
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea class="<%= validationErrors.find((e)=> e.path === 'description')? 'invalid' : '' %>" name="description" id="description" rows="5"><%=oldInput?.description ?? product?.description%></textarea>
                <% if (validationErrors.find((e)=> e.path === 'description')) { %>
                    <p class="form-message--error"><%= validationErrors.find((e)=> e.path === 'description').msg %></p>
                <% } %>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn" type="submit"><%= editMode ? "Update Product" : "Add Product" %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>