<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    <script type="text/javascript"
      src="https://app.sandbox.midtrans.com/snap/snap.js"
      data-client-key="<%=clientKey%>"></script>
    </head>
      <%- include('../includes/navigation.ejs') %>
        <main>
          <ul class="cart__item-list">
            <% products.forEach(p => { %>
                <% if (!p.productId) { %>
                    <% return; %>
                <% } %>
                <li class="cart__item">
                    <h1><%= p.productId.title %></h1>
                    <h2>Quantity: <%= p.quantity %></h2>
                </li>
                <% }) %>
              </ul>
              <div class="centered">
                <h2>Total Price: IDR <%= totalPrice %></h2>
              </div>
              <div class="centered">
                <button id="order-btn" class="btn primary">Proceed Checkout</button>
              </div>
        </main>
        <%- include('../includes/end.ejs') %>
        <script type="text/javascript">
          var payButton = document.getElementById('order-btn');
          payButton.addEventListener('click', function () {
            window.snap.pay('<%=transactionToken%>');
          });
        </script>
        